# Importing necessery libraries

In [7]:
import pickle
import pandas as pd
import utils

# Data info

In [8]:
data = pickle.load(open('pickle/18-Jan-2022-09.11.05.pkl', "rb"))

df  = pd.DataFrame(data, columns=["ID",
                                "Time",
                                "Voltage A",
                                "Voltage B",
                                "Voltage C",
                                "current A",
                                "current B",
                                "current C"])

df.head()

,ID,Time,Voltage A,Voltage B,Voltage C,current A,current B,current C
0,10.0,1.0,2.673035,2.893372,2.940063,2.469482,2.557678,2.084656
1,10.0,2.0,2.673035,2.893372,2.940063,2.469482,2.557678,2.084656
2,10.0,3.0,2.353516,2.375793,2.394714,2.374573,2.446289,2.053223
3,10.0,4.0,2.167053,1.892395,2.399597,3.119202,2.307434,3.140869
4,10.0,5.0,2.450562,2.419739,2.499084,3.129578,3.273621,2.700500

In [10]:
tool = utils.db_reduction('pickle/',n_iterations=10,maintained_percent=0.2)

In [11]:
tool.transform()

Reducing number of time series...
[--------------------------------------------------] 100.00% - 160 of 160